pip
setuptools
wheel
future==0.16.0
requests>=2.20.0
pytz==2018.5
mock==2.0.0
appdirs==1.4.3
Click==7.0
prettytable
pycodestyle==2.4.0
pyflakes==2.0.0
six==1.11.0
pytest
pytest-mock
pytest-cov
coverage
parameterized
tox
codacy-coverage
virtualenv
codecov
beem


